{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Your spot has been booked{% endblock %}</h1>
{% endblock %}

{% block content %}
    <body>
      <ul>
          <center><p style="font-family:verdana;color:#377ba8">Booked!</p></center>
          <center><img src="../../static/images/thumbsUp.jpg" style = "max-width: 25%; height: auto;"></img></center>
          <span><center><p style="font-family:verdana;color:#377ba8"> {{ code }}</p></center></span>
      </ul>
    </body>
{% endblock %}