{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log-in to book a spot or register to create a new account!{% endblock %}</h1>
{% endblock %}

{% block content %}
    <body>
      <ul>
          <center><h1 style="font-family:verdana;"> TIRED OF SPENDING HOURS ON FINDING A PARKING SPOT?!</h1></center>
          <center><img src="../static/images/angryMan.gif" style = "max-width: 25%; height: auto;"></img></center>
          <center><h2 style="font-family:verdana;color:#377ba8"> Just use our system to reserve a spot in ADVANCE!</h2></center>
      </ul>
    </body>
{% endblock %}